
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="about-banner"><img src="~/assets/hero-banner-img.png"  alt="faq banner"></div>
    <div class="faq-section">
        <h1 class="text-center" >A few words about us</h1>
        <div class="design ">
            <div class="d-flex justify-content-center">
                <div class="lhs-line"></div>
                <img  src="~/assets/forma-1-copy-5.png">
                <div class="rhs-line"></div>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="text-center about-us-text">
            <p>We are providers of professional home cleaning services, offering hourly based house cleaning options, 
                which mean that you don’t have to fret about getting your house cleaned anymore. We will handle 
                everything for you, so that you can focus on spending your precious time with your family members.
                Visit us at: www.tatvasoft.com or E-mail us at: business@tatvasoft.com
                58
                We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy 
                affair.</p>
        </div>
    </div>
    <div class="faq-section" id="story">
        <h1 class="text-center" >Our Story</h1>
        <div class="design ">
            <div class="d-flex justify-content-center">
                <div class="lhs-line"></div>
                <img  src="~/assets/forma-1-copy-5.png">
                <div class="rhs-line"></div>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="text-center about-us-text">
            <p>A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for 
                payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. 
                Cleaners often work when the people who otherwise occupy the space are not around. They may clean 
                offices at night or houses during the workday.</p>
        </div>
    </div>

