@model helperland.Models.ContactUsModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
   <div id="id04" class="modal">
  
        <form class="modal-content animate" >
          
            <p class="succesfull text-center">Successfully Sent!</p>
                
          <div class="container text-center">
           <button asp-action="Contact" class="btn"><img src="~/assets/Sucess.jpg"  width="100px" height="100px"alt="Success"></button>
            
          </div>
      
          
        </form>
      </div>
<div class="faq-banner"><img src="~/assets/group-16_2.png"  alt="faq banner"></div>
    <div class="faq-section">
        <h1 class="text-center" >Contact us</h1>
        <div class="design ">
            <div class="d-flex justify-content-center">
                <div class="lhs-line"></div>
                <img  src="~/assets/forma-1-copy-5.png">
                <div class="rhs-line"></div>
            </div>
        </div>
    </div>

    <div class="contact-us" >
        <div class="container">
            <div class="row text-center">
                <div class=" col-lg-4 col-md-4 ">
                        <img src="~/assets/forma-1_2.png">
                        <p class="contact-us-text ">1111 Lorem ipsum text 100,<br/>
                        Lorem ipsum AB</p>
                        
                </div>
                <div class=" col-lg-4 col-md-4 ">
                    
                        <img src="~/assets/phone-call.png">
                        <p class="contact-us-text1 ">+49 (40) 123 56 7890</p>
                    </div>

                   
                <div class="col-lg-4 col-md-4 ">
                    
                        <img src="~/assets/vector-smart-object.png">
                        <p class="contact-us-text2">info@helperland.com</p>
                    
                </div>
            </div> 
        </div>
    </div>

    <!--Get in touch with us-->
    <div class="line"></div>
    <div class="get-in-touch">
        <h1 class="text-center" >Get in touch with us</h1>
        <div class="container-fluid row  justify-content-center align-items-center">
            <div class=" col-lg-3 col-md-2 col-sm-1 "></div>
                <div class=" col-lg  col-md-6 col-sm-8">
            <form asp-action="contact" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col">
                  <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col">
                  
                <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col ">
                         
                <input asp-for="Mobile" class="form-control" placeholder="Mobile number"/>
                <span asp-validation-for="Mobile" class="text-danger"></span>
                  
                </div>
                <div class="form-group col">
                 <input asp-for="Email" class="form-control" placeholder="E-mail address"/>
                <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                </div>
                
                    <select asp-for="Subject" class="form-group form-control" >
                        <option value="General">General</option>
                        <option value="Inquiry">Inquiry</option>
                        <option value="Renewal">Renewal</option>
                        <option value="Revocation">Revocation</option>
                        <div class="invalid-feedback">Please fill out this field.</div>
                      </select>
                    <div class="form-group">
                         <textarea asp-for="Message"  class="form-control" rows="4" cols="50">Message</textarea>
                    </div>
               
                        <div style="color: #666;
                              font-weight: 500;
                              font-size: 20px;">Attachment</div>
                        <div class="form-group col" style=" position: relative;overflow: hidden;display: inline-block;" >
                            
                            
                                <button class="btn" style="background-color: white;
                                      border-radius: 50px;
                                      border-color: #c6c6c6;
                                      color: #666;
                                      transition: all 0.3s ease;
                                      background: 0 0;
                                      font-size: 16px;
                                      line-height: 24px;
                                      padding: 10px 25px;">Upload</button>
                                <input asp-for="upload"  id="file-upload" style=" font-size: 100px;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    opacity: 0;"/>
                            
                                <span style="margin-top:15px" id="file-upload-filename"></span>
                            </div>
                    
                


                     <div class="text-center from-group"><button type="submit" class="btn " id="submit-btn">Submit</button></div>
                
                
              </form>
              </div>
              <div class=" col-lg-3 col-md-2 "></div>
        </div>
    </div>

    <!--map-->
    <div class="contact-map">
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14722.907952210086!2d72.844444!3d22.701205!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5c596aa7ee6028c!2sDDMM%20Heart%20Institute!5e0!3m2!1sen!2sin!4v1639648386858!5m2!1sen!2sin" 
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>

           @section scripts{  
               @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
               <script>
                   var input = document.getElementById( 'file-upload' );
                    var infoArea = document.getElementById( 'file-upload-filename' );

                    input.addEventListener( 'change', showFileName );

                    function showFileName( event ) {
 
                      var input = event.srcElement;

                      var fileName = input.files[0].name;
  
                      infoArea.textContent = fileName;
                    }
               </script>
           }
@if (ViewBag.Msg != null)
    {
        <script type="text/javascript">

            document.getElementById('id04').style.display = 'block';
        </script>

    }
   