@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="faq-banner"><img src="~/assets/group-16_2.png"  alt="faq banner"></div>
    <div class="faq-section">
        <h1 class="text-center" >Contact us</h1>
        <div class="design ">
            <div class="d-flex justify-content-center">
                <div class="lhs-line"></div>
                <img  src="~/assets/forma-1-copy-5.png">
                <div class="rhs-line"></div>
            </div>
        </div>
    </div>

    <div class="contact-us" >
        <div class="container">
            <div class="row text-center">
                <div class=" col-lg-4 col-md-4 ">
                        <img src="~/assets/forma-1_2.png">
                        <p class="contact-us-text ">1111 Lorem ipsum text 100,<br/>
                        Lorem ipsum AB</p>
                        
                </div>
                <div class=" col-lg-4 col-md-4 ">
                    
                        <img src="~/assets/phone-call.png">
                        <p class="contact-us-text1 ">+49 (40) 123 56 7890</p>
                    </div>

                   
                <div class="col-lg-4 col-md-4 ">
                    
                        <img src="~/assets/vector-smart-object.png">
                        <p class="contact-us-text2">info@helperland.com</p>
                    
                </div>
            </div> 
        </div>
    </div>

    <!--Get in touch with us-->
    <div class="line"></div>
    <div class="get-in-touch">
        <h1 class="text-center" >Get in touch with us</h1>
        <div class="container-fluid row  justify-content-center align-items-center">
            <div class=" col-lg-3 col-md-2 col-sm-1 "></div>
                <div class=" col-lg  col-md-6 col-sm-8">
            <form  class="needs-validation " >
                <div class="form-row">
                    <div class="col">
                  <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname" required>
                  <div class="invalid-feedback ">Please fill out this field.</div>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname" required>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                </div>
                <div class="form-row ">
                    <div class="col ">
                        <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+49</div>
                          </div>
                          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mobile number"
                           pattern="[0-9]" required>
                        </div>
                  <div class="invalid-feedback ">Please fill out this field.</div>
                </div>
                <div class="col">
                  <input type="email" class="form-control" id="email" placeholder="Email" name="Email" required>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                </div>
                
                    <select class="form-control" >
                        <option>Subject</option>
                        <div class="invalid-feedback">Please fill out this field.</div>
                      </select>
                    
                <textarea name="comment" class="form-control" rows="4" cols="50">Message</textarea>
                  <div class="text-center"><button type="submit" class="btn " id="submit-btn">Submit</button></div>
                
                
              </form>
              </div>
              <div class=" col-lg-3 col-md-2 "></div>
        </div>
    </div>

    <!--map-->
    <div class="contact-map">
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14722.907952210086!2d72.844444!3d22.701205!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5c596aa7ee6028c!2sDDMM%20Heart%20Institute!5e0!3m2!1sen!2sin!4v1639648386858!5m2!1sen!2sin" 
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
