@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="hero-section" >
        
        <div class="hero-section-text text-white">
            <h1>Do not feel like housework?</h1>
            <p>Great! Book now for helperhand and enjoy the benefits</p>
            <ul>
                <li>certified & insured helper</li>
                <li>easy booking procedure</li>
                <li>friendly customer service</li>
                <li>secure online payment method
                    </li>
            </ul>
            @if (HttpContextAccessor.HttpContext.Session.GetString("Customerfname") != null)
        {
            <div class="btn-wrapper text-center">
                <a  title="BookCleaner" asp-action="BookService" asp-controller="Home" class="blue-btn-cleaner">Let's Book a Cleaner</a>
            </div>
        }
        else
        {
            <div class="btn-wrapper text-center">
                <a  title="BookCleaner" onclick="BookCleaner()" class="blue-btn-cleaner">Let's Book a Cleaner</a>
            </div>
        }
        
        </div>
        <div class="instruction align-items-center">
            <div class="container px-7  ">
                <div class="row text-center">
                    <div class="col mx-1 my-step">
                        <img src="~/assets/step-1.png" alt="Postcode">
                        <div class="step-name">
                            <p class="text-white">Enter your postcode</p>
                        </div>
                    </div>
                    <div >
                        <div class="ar">
                            <img src="~/assets/step-arrow-1.png" alt="arrow">
                        </div>
                        
                    </div>
                    <div class="col mx-1 my-step">
                        <img src="~/assets/step-2.png" alt="Plan">
                        <div class="step-name">
                            <p class="text-white">select your plan</p>
                        </div>
                    </div>
                    <div class="ar">
                        <img src="~/assets/step-arrow-1-copy.png" alt="arrow">
                    </div>
                    <div class="col mx-1 my-step">
                        <img src="~/assets/step-3.png" alt="pay">
                        <div class="step-name">
                            <p class="text-white">pay securely online</p>
                        </div>
                    </div>
                    <div class="ar">
                        <img src="~/assets/step-arrow-1.png" alt="arrow">
                    </div>
                    <div class="col mx-1 my-step">
                        <img src="~/assets/step-4.png" alt="enjoy">
                        <div class="step-name">
                            <p class="text-white">Enjoy amazing service</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-down">
            <a href="#" title="Scroll Down" class="scroll-link">
                <img src="~/assets/group-18_5.png" alt="Scroll-down">
            </a>
        </div>
    
      </div>

      <div class=" why-helperhand">
        
            <h2 class="text-center">Why Helperland</h2>
            <div class="container ">
        <div class="row">
            <div class="  col-lg-4 col-md-4">
                <div class="img-block text-center img-fuild">
                    <img src="~/assets/helper-img-1.png" alt="Professionals">
                </div>   
                <h3 class="text-center">Experience & Vetted Professionals</h3>
                <p class="text-center my-text">dominate the industry in scale and scope with an adaptable, 
                    extensive network that consistently delivers exceptional results.</p>
            </div>
            

             <div class="col-lg-4 col-md-4">
                <div class="img-block text-center img-fuild">
                    <img src="~/assets/group-23.png" alt="Online Payment">
                </div>
                <h3 class="text-center">Secure Online Payment</h3>
                <p class="text-center my-text">Payment is processed securely online. Customers pay safely online and manage the booking.</p>  
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="img-block text-center img-fuild">
                    <img src="~/assets/group-24.png" alt="Customer service">
                </div>
                <h3 class="text-center">Dedicated Customer Service</h3>
                <p class="text-center my-text">to our customers and are guided in all we do by their needs. 
                    The team is always happy to support you and offer all the information.</p> 
            </div>
          
        </div>
        </div>
        <div class="container why-helperhand-info">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="text-center">dominate the industry in scale and scope with an adaptable, 
                        extensive network that consistently delivers exceptional results.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <p class="text-center">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <p class="text-center">to our customers and are guided in all we do by their needs. 
                        The team is always happy to support you and offer all the information.</p>
                </div>
            </div>
        </div>
                        
    </div>

    <div class="blog">
    <div class="container">
        <div class="blog-description-block">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <h2 class="h3">We do not know what makes you happy, but ...</h2>
                    <p>If it's not dusting off, our friendly helpers will free you from this burden -
                         do not worry anymore about spending valuable time doing housework, but savor life, 
                         you're well worth your time with beautiful experiences. Free yourself and enjoy the gained time:
                          Go celebrate, relax, play with your children, meet friends or dare to jump on the bungee.
                          Other leisure ideas and exclusive events can be found in our blog -
                           guaranteed free from dust and cleaning tips!</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="image-wrapper">
                        <img src="~/assets/group-36.png" alt="Blog description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" why-helperhand">
    
        <h2 class="text-center">Our Blog</h2>
        <div class="container ">
    <div class="row">
        <div class="  col-lg-4 col-md-4">
            <img class="blog-img"src="~/assets/group-28.png">
            <p class="blog-text">Lorem ipsum dolor sit amet</p>
            <p class="blog-date">January 28,2019</p>
            <p class="blog-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
            <button type="submit" class="btn read-post" >
                Read the post
                <img src="~/assets/shape-2.png">
            </button>
        </div>

         <div class="col-lg-4 col-md-4">
            <img class="blog-img" src="~/assets/group-29.png" >
            <p class="blog-text">Lorem ipsum dolor sit amet</p>
            <p class="blog-date">January 28,2019</p>
            <p class="blog-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
            <button type="submit" class="btn read-post" >
                Read the post
                <img src="~/assets/shape-2.png">
            </button>
        </div>
        <div class="col-lg-4 col-md-4">
            <img class="blog-img" src="~/assets/group-30.png" >
            <p class="blog-text">Lorem ipsum dolor sit amet</p>
            <p class="blog-date">January 28,2019</p>
            <p class="blog-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
            <button type="submit" class="btn read-post" >
                Read the post
                <img src="~/assets/shape-2.png">
            </button>
        </div>
      </div>
    </div>

</div>
    <div class="text-center">
        <a href="#" class="scroll-top"><img src="~/assets/forma-1.png" alt="up-arrow"></a>
    </div>
    <div class="text-center">
        <a href="#" class="scroll-top1 float-right"><img src="~/assets/layer-598.png" alt="up-arrow"></a>
    </div>
    <script src="~/js/site.js"></script>