
@{
    ViewBag.Title = "Prices and Services";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

 <!--prices-->
    <div class="faq-banner"><img style="max-width: 100%;"src="~/assets/group-18.png"  alt="faq banner"></div>
        <div class="faq-section">
            <h1 class="text-center" >Prices</h1>
            <div class="design ">
                <div class="d-flex justify-content-center">
                    <div class="lhs-line"></div>
                    <img  src="~/assets/forma-1-copy-5.png">
                    <div class="rhs-line"></div>
                </div>
            </div>
        </div>
    <div class="price-section" >
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg col-md-3 col-sm-3"></div>
                <div class=" col-lg col-md-6 col-sm-6">
      
                    <div class=" card ">
                        <div class="card-header text-center">One Time</div>
                        <div class="card-body " >
                            <h2 class="text-center">€ 18<span>/hr</span></h2> 
                            <ul>
                                <li>Lower prices</li>
                                <li>Easy online & secure payment</li>
                                <li>Easy amendment</li>
                            </ul>
                        </div>
                    </div>
                </div>    
                <div class="col-lg col-md-3 col-sm-3"></div>
            </div> 
        </div>
    </div>
<!--Extra Services-->
    <div class="container">
        <div class="line"></div>
        <div class="faq-section">
            <h1 class="text-center" >Extra Services</h1>
            <div class="design ">
                <div class="d-flex justify-content-center">
                    <div class="lhs-line"></div>
                    <img  src="~/assets/forma-1-copy-5.png">
                    <div class="rhs-line"></div>
                </div>
            </div>
        </div>
    <div class="container px-5 py-5 ">
        <div class="row text-center">
            <div class="col mx-1">
                <div class="extra-service "> 
                    <img src="~/assets/3.png">
                </div>
                <div class="service-name">
                    <p>inside cabinets</p>
                    <text>30 minutes</text>
                </div>
            </div>
            
            <div class="col mx-1 ">
                    
                <div class="extra-service "> 
                    <img src="~/assets/5.png" >
                        
                </div>
                <div class="service-name ">
                    <p >inside fridge</p>
                    <text >30 minutes</text>
                </div>
                   
            </div>
            <div class="col mx-1">
                   
                <div class="extra-service "> 
                    <img src="~/assets/4.png" >
                </div>
                    
                <div class="service-name "> <p>inside oven</p><text>30 minutes</text></div>
                   
            </div>
            <div class="col mx-1">
                <div class="extra-service "> 
                    <img src="~/assets/2.png" >
                </div>
                <div class="service-name"><p>Laundry wash & dry</p><text>30 minutes</text></div>
                    
            </div>
            <div class="col mx-1">
                <div class="extra-service "> 
                    <img src="~/assets/1.png" >
                </div>
                <div class="service-name"><p>interior windows</p><text>30 minutes</text></div>
                    
            </div>
                
            
        </div>
    </div>
    </div>

    <!--what we include in cleaning-->
    
    <div class=" include-in-cleaning">
        <div class="container ">
            <div class="faq-section">
                <h1 class="text-center" >What we include in cleaning</h1>
                <div class="design ">
                    <div class="d-flex justify-content-center">
                        <div class="lhs-line"></div>
                        <img  src="~/assets/forma-1-copy-5.png">
                        <div class="rhs-line"></div>
                    </div>
                </div>
            </div>
      
        <div class="row">
            <div class="  col-lg-4 col-md-4">
        
            
                <div class="include-in-cleaning-img "> 
                    <img src="~/assets/group-18_3.png">
                </div>
                <p class="include-in-cleaning-text">Bedroom and Living Room</p>
                <ul >
                    <li>
                        Dust all accessible surfaces
                    </li>
                    <li>Wipe down all mirrors and glass fixtures</li>
                    <li> Clean all floor surfaces</li>
                    <li>
                        Take out garbage and recycling
                    </li>
                    <li>Clean up</li>
                    <li>Beds</li>
                </ul>

                
            
            </div>

             <div class="col-lg-4 col-md-4">
               
                    
                <div class="include-in-cleaning-img "> 
                    <img src="~/assets/group-18_4.png" >
                        
                </div>
                <p class="include-in-cleaning-text">Bathrooms</p>
                    <ul >
                        <li>
                            Wash and sanitize the toilet, shower, tub, sink
                        </li>
                        <li>Included Dust all accessible surfaces</li>
                        <li> Wipe down all mirrors and glass fixtures</li>
                        <li>
                            Clean all floor surfaces
                        </li>
                        <li>Take out garbage and recycling</li>
                        
                    </ul>
                   
                
            </div>
            <div class="col-lg-4 col-md-4">
                
                   
                <div class="include-in-cleaning-img "> 
                    <img src="~/assets/group-18_2.png" >
                </div>
                    <p class="include-in-cleaning-text">Kitchen</p>
                    <ul >
                        <li>
                            the sink
                        </li>
                        <li>the oven (outside)</li>
                        <li> the work surfaces</li>
                        <li>
                            Dust all accessible surfaces
                        </li>
                        <li>Clean all floor surfaces</li>
                        <li>Take out garbage and recycling</li>
                        
                    </ul>
                   
                
            </div>
          
        </div>
        </div>

    </div>
    
   
        
    <div class="faq-section">
        <h1 class="text-center" style="color: #4f4f4f;">Why Helperland</h1>
        <div class="design ">
            <div class="d-flex justify-content-center">
                <div class="lhs-line"></div>
                <img  src="~/assets/forma-1-copy-5.png">
                <div class="rhs-line"></div>
            </div>
        </div>
    </div>
    <div class="Why-Helperland-price">
        <div class="container ">
            <div class="row">
                <div class=" col-lg-4 ">
            
                    <div class="col mx-1">
                    
                        <p class="Why-Helperland-head text-lg-right">Bedroom and Living Room</p>
                        <p class=" Why-Helperland-subtext text-lg-right">dominate the industry in scale and scope with an adaptable,
                            extensive network that consistently delivers exceptional results.</p>
                            <p class="Why-Helperland-head1 text-lg-right">Dedicated customer service</p>
                        <p class=" Why-Helperland-subtext text-lg-right">to our customers and are guided in all we do by their needs. 
                            The team is always happy to support you and offer all the information. you need.</p>
    
                    
                    </div>
                </div>
    
                <div class=" col-lg-4  text-center">
                    <div class="best-img "> 
                        <img src="~/assets/the-best-img-1.png" >
                    </div>
                </div>
                <div class=" col-lg-4 ">
                    <div class="col mx-1">
                        <p class="Why-Helperland-head text-lg-left">Every cleaning is insured</p>
                        <p class=" Why-Helperland-subtext text-lg-left">and seek to provide exceptional service and engage in proactive behavior. 
                            We‘d be happy to clean your homes.</p>
                            <p class="Why-Helperland-head1 text-lg-left">Secure online payment</p>
                       <p class="Why-Helperland-subtext text-lg-left">Payment is processed securely online. 
                           Customers pay safely online and manage the booking.</p>
                       
                       
                    </div>
                </div>        
                
            </div>
        </div>
    </div>

