@model helperland.Models.UpdatePassword

@{
   ViewBag.Title = "Update Password";
   Layout = "~/Views/Shared/_Layout1.cshtml";
  
}
<div class="faq-section"  >
           <h1 class="text-center" id="Forgotpassword">Reset Your Password</h1>
            <div class="design ">
                <div class="d-flex justify-content-center">
                    <div class="lhs-line"></div>
                    <img  src="~/assets/forma-1-copy-5.png">
                    <div class="rhs-line"></div>
                </div>
            </div>
        </div>
<div class="get-in-touch" id="CreateAccountForm">
<div class="container-fluid row  justify-content-center align-items-center">
    <div class=" col-lg-3 col-md-2 col-sm-1 "></div>
    <div class="col-lg-5  col-md-6 col-sm-8">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-row">
            <div class="form-group col">
         
                <input asp-for="Password" class="form-control"  placeholder="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col">
            
                <input asp-for="Confirmpwd" class="form-control"  placeholder="Confirm Password"/>
                <span asp-validation-for="Confirmpwd" class="text-danger"></span>
            </div>
            </div>
           
                  
                 
          
                    
            
           
            <div class="form-group text-center">
                <input type="submit" id="submit-btn" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class=" col-lg-3 col-md-2 "></div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
